<section class="card">
    <div class="card-header ui-sortable-handle">
        <h5 class="mb-0 text-black">
            <strong>Team Stats</strong>
        </h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3">
                <div class="cat__core__step cat__core__step--success mb-4">
                    <span class="cat__core__step__digit">
                      <i class="fa fa-check"></i>
                   </span>
                    <div class="cat__core__step__desc">
                        <span class="cat__core__step__title">Wins</span>
                        <p>0</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3">
                <div class="cat__core__step cat__core__step--danger mb-4">
                    <span class="cat__core__step__digit">
                      <i class="fa fa-close"></i>
                   </span>
                    <div class="cat__core__step__desc">
                        <span class="cat__core__step__title">Loses</span>
                        <p>0</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3">
                <div class="cat__core__step cat__core__step--primary mb-4">
                    <span class="cat__core__step__digit">
                      <i class="fa fa-code"></i>
                   </span>
                    <div class="cat__core__step__desc">
                        <span class="cat__core__step__title">Draws</span>
                        <p>0</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3">
                <div class="cat__core__step cat__core__step--default mb-4">
                    <span class="cat__core__step__digit">
                      <i class="icmn-database"></i>
                   </span>
                    <div class="cat__core__step__desc">
                        <span class="cat__core__step__title">Games Total</span>
                        <p>0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>