<section class="card">
    <div class="card-header ui-sortable-handle">
        <h5 class="mb-0 text-black">
            <strong>Team Stats</strong>
        </h5>
    </div>
    <div class="card-body">
        <app-loading-bar *ngIf="state.loading"></app-loading-bar>
        <app-error-bar *ngIf="state.loaded && state.error"></app-error-bar>
        <div class="row" *ngIf="state.loaded && !state.error">
            <div class="col-xl-3 ">
                <div class="cat__core__step cat__core__step--success mb-4 ">
                    <span class="cat__core__step__digit ">
                      <i class="fa fa-check "></i>
                   </span>
                    <div class="cat__core__step__desc ">
                        <span class="cat__core__step__title ">Wins</span>
                        <p [innerHTML]="getWins('won')"></p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 ">
                <div class="cat__core__step cat__core__step--danger mb-4 ">
                    <span class="cat__core__step__digit ">
                      <i class="fa fa-close "></i>
                   </span>
                    <div class="cat__core__step__desc ">
                        <span class="cat__core__step__title ">Loses</span>
                        <p [innerHTML]="getWins('lost')"></p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 ">
                <div class="cat__core__step cat__core__step--primary mb-4 ">
                    <span class="cat__core__step__digit ">
                      <i class="fa fa-code "></i>
                   </span>
                    <div class="cat__core__step__desc ">
                        <span class="cat__core__step__title ">Draws</span>
                        <p [innerHTML]="getWins('draw')"></p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 ">
                <div class="cat__core__step cat__core__step--primary mb-4 ">
                    <span class="cat__core__step__digit ">
                      <i class="icmn-database "></i>
                   </span>
                    <div class="cat__core__step__desc ">
                        <span class="cat__core__step__title ">Games Total</span>
                        <p [innerHTML]="getWins('total')"></p>
                    </div>
                </div>
            </div>
            <!-- -->
            <div class="col-xl-3 ">
                <div class="cat__core__step cat__core__step--success mb-4">
                    <span class="cat__core__step__digit ">
                <i class="ra ra-sword"></i>
             </span>
                    <div class="cat__core__step__desc ">
                        <span class="cat__core__step__title ">Most Kills</span>
                        <p [innerHTML]="getMostKills()"></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 ">
                <div class="cat__core__step cat__core__step--danger mb-4">
                    <span class="cat__core__step__digit ">
                      <i class="ra ra-skull"></i>
           </span>
                    <div class="cat__core__step__desc ">
                        <span class="cat__core__step__title ">Most Deaths</span>
                        <p [innerHTML]="getMostDeaths()"></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 ">
              <div class="cat__core__step cat__core__step--primary mb-4">
                  <span class="cat__core__step__digit ">
                    <i class="ra ra-monster-skull"></i>
         </span>
                  <div class="cat__core__step__desc ">
                      <span class="cat__core__step__title ">Most Damage Done</span>
                      <p [innerHTML]="getMostDamage()"></p>
                  </div>
              </div>
          </div>
          <div class="col-xl-3 ">
            <div class="cat__core__step cat__core__step--primary mb-4">
                <span class="cat__core__step__digit ">
                  <i class="ra ra-round-bottom-flask"></i>
       </span>
                <div class="cat__core__step__desc ">
                    <span class="cat__core__step__title ">Most Healing Done</span>
                    <p [innerHTML]="getMostHealing()"></p>
                </div>
            </div>
        </div>
            <!-- -->
            <div class="col-xl-6">
              <div class="cat__core__step cat__core__step--default mb-4 ">
                  <span class="cat__core__step__digit ">
                  <i class="icmn-database "></i>
               </span>
                  <div class="cat__core__step__desc ">
                      <span class="cat__core__step__title ">Average Ranking</span>
                      <p [innerHTML]="getAverageRanking()"></p>
                  </div>
              </div>
          </div>

          <div class="col-xl-6">
              <div class="cat__core__step cat__core__step--default mb-4 ">
                  <span class="cat__core__step__digit ">
                    <img [src]="getAverageTierImage()" style="max-height: 50px; padding-bottom: 10px;" alt="Player Tier">
             </span>
                  <div class="cat__core__step__desc">
                      <span class="cat__core__step__title ">Average Tier</span>
                      <p [innerHTML]="getAverageTier()"></p>
                  </div>
              </div>
          </div>
        </div>
    </div>
</section>
