<div class="cat__pages__login cat__pages__login--fullscreen" style="background-image: url(assets/Preview4.png)">
    <div class="cat__pages__login__block">
        <div class="row">
            <div class="col-xl-12">
                <div class="cat__pages__login__block__inner">
                    <div class="cat__pages__login__block__form">
                        <h4 class="text-uppercase">
                            <strong>Please register</strong>
                        </h4>
                        <br>
                        <form [formGroup]="registerForm">
                            <div class="form-group">
                                <label class="form-label">Role</label>
                                <!--<input class="form-control" placeholder="Enter your e-Mail..." type="text">-->
                                <select class="form-control">
                                    <option class='option' *ngFor='let role of roles' [value]="role">{{role}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input class="form-control" placeholder="Enter your Username..." type="text">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input class="form-control" placeholder="Enter your e-Mail..." type="text">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Password</label>
                                <div class="input-append input-group">
                                    <input class="form-control password" placeholder="Password" type="password">
                                </div>
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-primary mr-3" type="submit">Sign Up</button>
                                <span class="register-link">
                                    Already have an Account?
                                    <a class="cat__core__link--blue cat__core__link--underlined" (click)="goToLogin.emit()">Sign in</a>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>