<app-layout>
    <app-warning-bar message="Achtung! Das Team ist momentan nicht in voller Besetzung und könnte noch einen Main-Tank gebrauchen. Ein Support (keine Mercy, da bereits vorhanden) wäre ebenfalls eine gute Teamergänzung." [@fadeAnimation]="true"></app-warning-bar>
    <br>
    <app-team-stats [state]="dashboard$ | async" [@fadeAnimation]="true"></app-team-stats>
    <app-team-medals [state]="dashboard$ | async" [@fadeAnimation]="true"></app-team-medals>
    <app-team-kpd [state]="dashboard$ | async" [@fadeAnimation]="true"></app-team-kpd>
    <app-team-heroes [state]="dashboard$ | async" [@fadeAnimation]="true"></app-team-heroes>
    <!--<app-team-trends [state]="dashboard$ | async"></app-team-trends>-->
    <!--<app-team-streamers [state]="dashboard$ | async"></app-team-streamers>-->
</app-layout>