<section class="card">
    <div class="card-header ui-sortable-handle">
        <h5 class="mb-0 text-black">
            <strong>Team Trends</strong>
        </h5>
    </div>
    <div class="card-body">
        <app-loading-bar *ngIf="state.loading"></app-loading-bar>
        <app-error-bar *ngIf="state.loaded && state.error"></app-error-bar>
        <div class="row" *ngIf="state.loaded && !state.error">
            <ngx-charts-line-chart [results]="state.trends" [roundDomains]="roundDomains" [yAxis]="yAxis" [showYAxisLabel]="showYAxisLabel" [yAxisLabel]="yAxisLabel"></ngx-charts-line-chart>
        </div>
    </div>
</section>