<app-loading-bar *ngIf="state.ranking?.loading"></app-loading-bar>
<app-error-bar *ngIf="state.ranking?.error" [message]="'Something went wrong!'"></app-error-bar>
<div class="cat__contents" *ngIf="state.ranking?.loaded && !state.ranking?.error">
    <nav class="cat__core__top-sidebar cat__core__top-sidebar--bg">
        <div class="row">
            <div class="col-xl-8 offset-xl-4">
                <div class="width-100 text-center pull-right hidden-md-down">
                    <h2>{{ state.ranking?.profile?.rank }}</h2>
                    <p class="mb-0">Skill Rating</p>
                </div>
                <div class="width-100 text-center pull-right hidden-md-down">
                    <h2>{{ state.ranking?.profile?.tier | uppercase }}</h2>
                    <p class="mb-0">Skill Tier</p>
                </div>
                <h2>
                    <span class="text-black">
                      <strong>{{ state.ranking?.profile?.player?.player_name }}</strong>
                  </span>

                </h2>
                <p class="mb-1">
                    {{ state.ranking?.profile?.role }}
                </p>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-xl-4">
            <section class="card cat__apps__profile__card">
                <div class="card-body text-center">
                    <a class="cat__core__avatar cat__core__avatar--border-white cat__core__avatar--110" href="javascript:void(0);">
                        <img alt="AVATAR" [src]="state.ranking?.profile?.avatar">
                    </a>
                    <br>
                    <br>
                    <div aria-label="" class="btn-group btn-group-justified" role="group">
                        <div class="btn-group">
                            <button class="btn width-150 swal-btn-success" [disabled]="buttonClicked" type="button" (click)="updatePlayer(state.ranking?.profile?.id)">{{ buttonText }}</button>
                        </div>
                    </div>
                    <br>
                    <p class="text-white">
                        Last Update:
                        <br> {{ state.ranking?.profile?.last_update }}
                    </p>
                </div>
            </section>
        </div>
        <div class="col-xl-8">
            <div class="row">
                <div class="col-xl-4">
                    <div class="cat__core__step cat__core__step--default mb-4">
                        <span class="cat__core__step__digit">
                          <img src="/assets/ranks/gold.png" style="max-width: 50px; padding-bottom: 10px;"  alt="Bronze Medals">
                        </span>
                        <div class="cat__core__step__desc">
                            <span class="cat__core__step__title">Gold</span>
                            <p>{{ state.ranking.profile.medals.gold }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="cat__core__step cat__core__step--default mb-4">
                        <span class="cat__core__step__digit">
                          <img src="/assets/ranks/silver.png" style="max-width: 50px; padding-bottom: 10px;"  alt="Bronze Medals">
                        </span>
                        <div class="cat__core__step__desc">
                            <span class="cat__core__step__title">Silver</span>
                            <p>{{ state.ranking.profile.medals.silver }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="cat__core__step cat__core__step--default mb-4">
                        <span class="cat__core__step__digit">
                          <img src="/assets/ranks/bronze.png" style="max-width: 50px; padding-bottom: 10px;"  alt="Bronze Medals">
                        </span>
                        <div class="cat__core__step__desc">
                            <span class="cat__core__step__title">Bronze</span>
                            <p>{{ state.ranking.profile.medals.bronze }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
UserId:
{{ userId }}