<section class="card">
    <div class="card-header">
        <h5 class="text-black"><strong [innerHTML]="getTitle()"></strong></h5>
    </div>
    <div class="card-body">
        <app-loading-bar *ngIf="state.loading"></app-loading-bar>
        <app-error-bar *ngIf="state.loaded && state.error"></app-error-bar>
        <div class="row" *ngIf="state.loaded && !state.error">
            <div class="col-lg-12">
                <div class="mb-5">
                    <markdown [innerHTML]="getText()"></markdown>
                </div>
            </div>
        </div>
    </div>
</section>