<app-layout>
    <section class="card">
        <div class="card-header">
            <span class="cat__core__title">
          <strong>Verson 1.1.1</strong>
      </span>
        </div>
        <div class="card-body">
            <span>- Added Matches Module</span><br>
        </div>
    </section>
    <section class="card">
        <div class="card-header">
            <span class="cat__core__title">
          <strong>Verson 1.1.0</strong>
      </span>
        </div>
        <div class="card-body">
            <span>- Completed Guides Section</span><br>
        </div>
    </section>
    <section class="card">
        <div class="card-header">
            <span class="cat__core__title">
          <strong>Verson 1.0.7</strong>
      </span>
        </div>
        <div class="card-body">
            <span>- Added News Module</span><br>
        </div>
    </section>
    <section class="card">
        <div class="card-header">
            <span class="cat__core__title">
              <strong>Verson 1.0.6</strong>
          </span>
        </div>
        <div class="card-body">
            <span>- Mobile Navigation</span><br>
            <span>- Added new logo</span><br>
        </div>
    </section>
    <section class="card">
        <div class="card-header">
            <span class="cat__core__title">
              <strong>Verson 1.0.5</strong>
          </span>
        </div>
        <div class="card-body">
            <span>- Added function to add new VODs</span><br>
        </div>
    </section>
    <section class="card">
        <div class="card-header">
            <span class="cat__core__title">
              <strong>Verson 1.0.4</strong>
          </span>
        </div>
        <div class="card-body">
            <span>- Added More Stats (Damage Done & Healing Done)</span><br>
        </div>
    </section>
    <section class="card">
        <div class="card-header">
            <span class="cat__core__title">
              <strong>Verson 1.0.3</strong>
          </span>
        </div>
        <div class="card-body">
            <span>- Added Guides Module</span><br>
        </div>
    </section>
    <section class="card">
        <div class="card-header">
            <span class="cat__core__title">
              <strong>Verson 1.0.2</strong>
          </span>
        </div>
        <div class="card-body">
            <span>- Added new Navigation Point 'Guides'</span><br>
            <span>- Added WIP Warning to Vod Section - Will Add some more Details in it</span><br>
        </div>
    </section>
    <section class="card">
        <div class="card-header">
            <span class="cat__core__title">
              <strong>Verson 1.0.1</strong>
          </span>
        </div>
        <div class="card-body">
            <span>- Noobster now Tank</span><br>
            <span>- Added Silence</span><br>
            <span>- New CI Config</span><br>
        </div>
    </section>
    <section class="card">
        <div class="card-header">
            <span class="cat__core__title">
              <strong>Verson 1.0.0</strong>
          </span>
        </div>
        <div class="card-body">
            <span>- Added Versioning for App</span><br>
            <span>- Finished Every Subsite</span>
        </div>
    </section>
</app-layout>