<app-layout>
    <section class="card">
        <div class="card-header">
            <span class="cat__core__title">
              <strong>Verson 1.0.2</strong>
          </span>
        </div>
        <div class="card-body">
            <span>- Added new Navigation Point 'Guides'</span><br>
            <span>- Added WIP Warning to Vod Section - Will Add some more Details in it</span><br>
        </div>
    </section>
    <section class="card">
        <div class="card-header">
            <span class="cat__core__title">
              <strong>Verson 1.0.1</strong>
          </span>
        </div>
        <div class="card-body">
            <span>- Noobster now Tank</span><br>
            <span>- Added Silence</span><br>
            <span>- New CI Config</span><br>
        </div>
    </section>
    <section class="card">
        <div class="card-header">
            <span class="cat__core__title">
              <strong>Verson 1.0.0</strong>
          </span>
        </div>
        <div class="card-body">
            <span>- Added Versioning for App</span><br>
            <span>- Finished Every Subsite</span>
        </div>
    </section>
</app-layout>
