<div class="cat__menu-left" [ngClass]="getSidebarVisibility()">
    <app-responsive-navigation [sidebarVisible]="sidebarVisible" (openSidebarEvent)="changeSidebarStatus($event)"></app-responsive-navigation>
    <div class="cat__menu-left__logo">
        <img src="/assets/newlogo.png" alt="LOGO" class="center-block">
    </div>
    <ul class="cat__menu-left__list cat__menu-left__list--root">
        <li class="cat__menu-left__item">
            <a routerLink="/dashboard" [routerLinkActive]="['active--link']">
                <span class="cat__menu-left__icon icmn-home"></span> Dashboard
            </a>
        </li>
        <li class="cat__menu-left__divider"></li>
        <li class="cat__menu-left__item">
            <a routerLink="/news" [routerLinkActive]="['active--link']">
                <span class="cat__menu-left__icon icmn-bubble"></span> Team News
            </a>
        </li>
        <li class="cat__menu-left__divider"></li>
        <li class="cat__menu-left__item">
            <a routerLink="/ranked" [routerLinkActive]="['active--link']">
                <span class="cat__menu-left__icon icmn-star-full"></span> Ranked
            </a>
        </li>
        <li class="cat__menu-left__divider"></li>
        <li class="cat__menu-left__item">
            <a routerLink="/vod" [routerLinkActive]="['active--link']">
                <span class="cat__menu-left__icon fa fa-gamepad"></span> VODs
            </a>
        </li>
        <li class="cat__menu-left__divider"></li>
        <li class="cat__menu-left__item">
            <a routerLink="/guides" [routerLinkActive]="['active--link']">
                <span class="cat__menu-left__icon icmn-drawer"></span> Guides
            </a>
        </li>
        <li class="cat__menu-left__divider"></li>
        <li class="cat__menu-left__item">
            <a routerLink="/matches" [routerLinkActive]="['active--link']">
                <span class="cat__menu-left__icon icmn-drawer"></span> Matches
            </a>
        </li>
        <li class="cat__menu-left__divider"></li>
        <li class="cat__menu-left__item">
            <a routerLink="/changelog" [routerLinkActive]="['active--link']">
                <span class="cat__menu-left__icon icmn-loop"></span> Changelogs
            </a>
        </li>
    </ul>
</div>