<div class="cat__menu-left">
    <!--<div class="cat__menu-left__logo">
        Logo
    </div>-->
    <ul class="cat__menu-left__list cat__menu-left__list--root">
        <li class="cat__menu-left__item">
            <a routerLink="/dashboard" [routerLinkActive]="['active--link']">
                <span class="cat__menu-left__icon icmn-home"></span> Dashboard
            </a>
        </li>
        <li class="cat__menu-left__divider"></li>
        <li class="cat__menu-left__item">
            <a routerLink="/ranked" [routerLinkActive]="['active--link']">
                <span class="cat__menu-left__icon icmn-star-full"></span> Ranked
            </a>
        </li>
    </ul>
</div>
