<div class="cat__menu-left">
    <div class="cat__menu-left__logo">
        <img src="/assets/logo_deepblue.png" alt="LOGO" class="center-block">
    </div>
    <ul class="cat__menu-left__list cat__menu-left__list--root">
        <li class="cat__menu-left__item">
            <a routerLink="/dashboard" [routerLinkActive]="['active--link']">
                <span class="cat__menu-left__icon icmn-home"></span> Dashboard
            </a>
        </li>
        <li class="cat__menu-left__divider"></li>
        <li class="cat__menu-left__item">
            <a routerLink="/ranked" [routerLinkActive]="['active--link']">
                <span class="cat__menu-left__icon icmn-star-full"></span> Ranked
            </a>
        </li>
        <li class="cat__menu-left__divider"></li>
        <li class="cat__menu-left__item">
            <a routerLink="/vod" [routerLinkActive]="['active--link']">
                <span class="cat__menu-left__icon fa fa-gamepad"></span> VODs
            </a>
        </li>
        <li class="cat__menu-left__divider"></li>
        <li class="cat__menu-left__item">
            <a routerLink="/changelog" [routerLinkActive]="['active--link']">
                <span class="cat__menu-left__icon icmn-loop"></span> Changelogs
            </a>
        </li>
        <li class="cat__menu-left__divider"></li>
        <li class="cat__menu-left__item">
            <a routerLink="/" [routerLinkActive]="['active--link']">
                <span class="cat__menu-left__icon icmn-loop"></span> Guides
            </a>
        </li>
        <li class="cat__menu-left__divider"></li>
        <li class="cat__menu-left__item">
            <a routerLink="/" [routerLinkActive]="['active--link']">
                <span class="cat__menu-left__icon icmn-loop"></span> Guides
            </a>
        </li>
    </ul>
</div>
