@import "~ngx-toastr/toastr.css";
@import "prismjs/themes/prism.css";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic');
@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    display: inline-block;
    animation: anim-rotate 2s infinite linear;
}

.always-hide {
    display: none;
}

@media (max-width: 768px) {
    .hidden-mobile {
        display: none;
    }
    .cat__top-bar__left>.cat__top-bar__item {
        margin-right: 0rem;
    }
}

@import './characters';